.home {
  background-color: #e8e8e8;
  justify-content: center;
  width: 100%;
}

.home .div-2 {
  background-color: var(--grey-shapes-wireframe);
  height: 932px;
  /* position:; */
  width: 430px;
}

.home .title {
  height: 23px;
  left: 135px;
  /* position:; */
  top: 78px;
  width: 159px;
}

.home .text-wrapper-2 {
  -webkit-text-stroke: 1px #000000;
  border-color: var(--black);
  color: var(--orange);
  font-family: var(--promesse-font-family);
  font-size: var(--promesse-font-size);
  font-style: var(--promesse-font-style);
  font-weight: var(--promesse-font-weight);
  height: 21px;
  left: 115px;
  letter-spacing: var(--promesse-letter-spacing);
  line-height: var(--promesse-line-height);
  /* position:; */
  text-align: center;
  top: 105px;
  white-space: nowrap;
  width: 198px;
}

.home .overlap {
  background-color: var(--orange);
  border-radius: 10px;
  height: 30px;
  left: 115px;
  /* position:; */
  top: 138px;
  width: 200px;
}

.home .text-wrapper-3 {
  color: #ffffff;
  font-family: var(--paragraph-title-font-family);
  font-size: var(--paragraph-title-font-size);
  font-style: var(--paragraph-title-font-style);
  font-weight: var(--paragraph-title-font-weight);
  height: 26px;
  left: 38px;
  letter-spacing: var(--paragraph-title-letter-spacing);
  line-height: var(--paragraph-title-line-height);
  /* position:; */
  text-align: center;
  top: 1px;
  width: 124px;
}

.home .button-instance {
  left: 29px !important;
  position: absolute !important;
  top: 202px !important;
}

.home .text-wrapper-4 {
  color: var(--orange);
  font-family: var(--paragraph-title-font-family);
  font-size: var(--paragraph-title-font-size);
  font-style: var(--paragraph-title-font-style);
  font-weight: var(--paragraph-title-font-weight);
  height: 21px;
  left: 162px;
  letter-spacing: var(--paragraph-title-letter-spacing);
  line-height: var(--paragraph-title-line-height);
  /* position:; */
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 231px;
  white-space: nowrap;
}

.home .group {
  height: 154px;
  left: 13px;
  /* position:; */
  top: 264px;
  width: 409px;
}

.home .group-2 {
  height: 101px;
  left: 0;
  /* position:; */
  top: 0;
  width: 407px;
}

.home .comment-pr-venir-les {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 44px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  /* position:; */
  text-align: center;
  top: 110px;
  width: 347px;
}

.home .span {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.home .group-wrapper {
  height: 161px;
  left: 13px;
  /* position:; */
  top: 429px;
  width: 407px;
}

.home .overlap-group-wrapper {
  height: 161px;
  width: 409px;
}

.home .overlap-group {
  height: 161px;
  /* position:; */
  width: 407px;
}

.home .group-3 {
  height: 103px;
  left: 0;
  /* position:; */
  top: 0;
  width: 407px;
}

.home .pourquoi-de-plus-en {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 72px;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  /* position:; */
  text-align: center;
  top: 89px;
  width: 356px;
}

.home .nous-rejoindre {
  color: transparent;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  /* position:; */
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 592px;
  width: 361px;
}

.home .text-wrapper-5 {
  color: #fe5300;
  font-family: var(--paragraph-title-font-family);
  font-size: var(--paragraph-title-font-size);
  font-style: var(--paragraph-title-font-style);
  font-weight: var(--paragraph-title-font-weight);
  letter-spacing: var(--paragraph-title-letter-spacing);
  line-height: var(--paragraph-title-line-height);
}

.home .text-wrapper-6 {
  color: #000000;
  font-size: 12px;
  font-weight: 700;
}

.home .div-wrapper {
  height: 20px;
  left: 29px;
  /* position:; */
  top: 729px;
  width: 363px;
}

.home .text-wrapper-7 {
  color: var(--orange);
  font-family: var(--paragraph-title-font-family);
  font-size: var(--paragraph-title-font-size);
  font-style: var(--paragraph-title-font-style);
  font-weight: var(--paragraph-title-font-weight);
  left: 0;
  letter-spacing: var(--paragraph-title-letter-spacing);
  line-height: var(--paragraph-title-line-height);
  /* position:; */
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  white-space: nowrap;
  width: 361px;
}

.home .line {
  height: 2px;
  left: 0;
  object-fit: cover;
  /* position:; */
  top: 882px;
  width: 430px;
}

.home .text-wrapper-8 {
  color: var(--orange);
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  /* position:; */
  text-align: center;
  top: 894px;
  width: 115px;
}

.home .component-1 {
  left: 290px !important;
  /* position: !important; */
  top: 893px !important;
}

.home .overlap-wrapper {
  height: 113px;
  left: 49px;
  /* position:; */
  top: 764px;
  width: 142px;
}

.home .overlap-2 {
  background-color: #d9d9d9;
  height: 113px;
  /* position:; */
  width: 140px;
}

.home .p {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  /* position:; */
  text-align: center;
  top: 4px;
  width: 135px;
}

.home .text-wrapper-9 {
  font-weight: 600;
}

.home .group-4 {
  height: 28px;
  left: 9px;
  /* position:; */
  top: 81px;
  width: 125px;
}

.home .overlap-group-2 {
  background-color: var(--orange);
  border-radius: 10px;
  height: 28px;
  /* position:; */
  width: 123px;
}

.home .text-wrapper-10 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 26px;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  /* position:; */
  text-align: center;
  top: 2px;
  width: 111px;
}

.home .group-5 {
  height: 113px;
  left: 239px;
  /* position:; */
  top: 764px;
  width: 142px;
}

.home .header {
  background-color: var(--placeholder);
  height: 48px;
  left: 0;
  /* position:; */
  top: 0;
  width: 430px;
}

.home .text-wrapper-11 {
  -webkit-text-stroke: 1px #fe5300;
  border-color: var(--orange);
  color: var(--orange);
  font-family: var(--promesse-font-family);
  font-size: var(--promesse-font-size);
  font-style: var(--promesse-font-style);
  font-weight: var(--promesse-font-weight);
  height: 48px;
  left: -1px;
  letter-spacing: var(--promesse-letter-spacing);
  line-height: var(--promesse-line-height);
  /* position:; */
  text-align: center;
  top: -2px;
  width: 80px;
}

.home .search-instance {
  left: 92px !important;
  /* position: !important; */
  top: 14px !important;
}

.home .sign-in {
  height: 35px;
  left: 305px;
  /* position:; */
  top: 7px;
  width: 35px;
}

.home .burger-menu-instance {
  left: 376px !important;
  /* position: !important; */
  top: 14px !important;
}
